USE [master]
GO
/****** Object:  Database [WatchyDB]    Script Date: 8/11/2021 9:46:12 PM ******/
CREATE DATABASE [WatchyDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WatchyDB', FILENAME = N'C:\Users\Sx-G5-Laptop\WatchyDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WatchyDB_log', FILENAME = N'C:\Users\Sx-G5-Laptop\WatchyDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WatchyDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WatchyDB]
GO
USE [WatchyDB]
GO
/****** Object:  User [al]    Script Date: 8/11/2021 9:46:12 PM ******/
CREATE USER [al] FOR LOGIN [al] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [al]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/11/2021 9:46:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResourceDetails]    Script Date: 8/11/2021 9:46:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourceDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VerificationDate] [datetime2](7) NULL,
	[CpuUse] [float] NOT NULL,
	[RamUse] [float] NOT NULL,
	[DiskUse] [float] NOT NULL,
 CONSTRAINT [PK_ResourceDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/11/2021 9:46:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
